target/
*.iml
.idea/
log.txt
temp/
.settings
.classpath
.project
*.DS_Store
*.png
!images/helpUtil.png
*.json
*.xml
!logback.xml
!pom.xml
*.log
generatedCounterModels/
generatedProofs/
defaultOutputFolder/
repo/
**/original_asp_program.txt
**/what_if.txt
**/conflict_tester.txt